  {% load static %}
  <body background="{% static 'core/img/wall3.png' %}" style="background-size: cover; background-attachment: fixed;" topmargin="100pt">
  <br><br><br><br>
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-innerv text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper ">{{post.published|date:'d/m/Y'}}</span>
              <span class="section-heading-lower">{{post.title}}</span>
            </h2>
            <p class="mb-0">
              <img class=" bg-dark p-1 mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% if post.image %} {{post.image.url}} {% endif %}" alt="">
            </p>
            <p class="mb-0 mbt bg-dark p-5 text-white">
                {{post.content}}
            </p>
            <p class="mb-0 mbt">
              <span class="section-heading-under">Publicado por <em><b>{{post.author.first_name}}</b></em> en <em>
              {% for category in post.categories.all %}
              <a href="{% url 'posts:category' category.id %}"
              class="link">{{category.name}}</a>
              {% if not forloop.last %},{% endif %}
              {% endfor %}
              </em></span>
            </p>
          </div>

        </div>
      </div>
    </div>
  </section>
  <br><br><br><br>