{% extends "core/base.html" %}
{% block content %}
{% load static %}
<body background="{% static 'core/img/wall3.png' %}" style="background-size: cover; background-attachment: fixed;" topmargin="100pt">
<br><br><br><br><br><br>
<div class="container">
    <form action="" class="px-0 py-2 pb-5" method="post"> 
    {% csrf_token %}  
        <table class='text-white bg-dark p-1'>
            {{form.as_table}}
        </table>

        <div class="row mt-0">
            <div class="col-md-9 mx-auto mb-1">
                <div class="float-end">
                <button type="submit" class="btn text-info form-btn mx-1 bg-dark p-3" style="width:170px;">
                    <span class="spinner-border spinner-border-sm d-none"></span>
                    <i class="fas fa-paper-plane fa-fw"></i>Continuar
                </button>
                </div>
    
            
            </div>
        </div>
    </form>
</div>
{% endblock %}